[submodule "ws/src/fcu_sim"]
	path = ws/src/fcu_sim
	url = https://github.com/BYU-MAGICC/fcu_sim.git
[submodule "ws/src/fcu_common"]
	path = ws/src/fcu_common
	url = https://github.com/BYU-MAGICC/fcu_common.git
[submodule "ws/src/ros_copter"]
	path = ws/src/ros_copter
	url = https://github.com/byu-magicc/ros_copter.git
[submodule "ws/src/reactive_planner"]
	path = ws/src/reactive_planner
	url = https://github.com/superjax/reactive_planner.git
